
.left{

background: radial-gradient(100% 100% at 100% 100%, #F1F5F9 0%, #F1F5F9 100%); 
}

.right{
    background: radial-gradient(100% 100% at 100% 100%, #4488cb 50%, #3eac86 45.49%, #6faecb 100%); 
}

    body{
        background-image:url("paper.gif");
        background-repeat:initial;
    }
    
    h1{
       margin:auto;
       padding: 40px;
    }
    h3{
        color:gray;
        padding:0;
    }
    .details{
        text-indent:3px;
        align-content:flex-start;
  }

    #UserName{
        font-family:sans-serif;
        text-size-adjust:initial;
        
    }
   #Password{
    font-family:verdana;
    text-indent:2px;
   }
